.latest-updates-container {
    text-align: center;
    padding: 50px;
    font-family: "Arial", sans-serif;
  }
  
  .under-construction-img {
    width: 300px;
    margin-top: 20px;
    opacity: 0.8;
  }
  